<%- include("header.ejs")%>
  <h1>forget Page</h1>
  <form action="/sendmail" method="post">
    <input type="email" name="email" placeholder="Enter email"><br><br>
    <button>Send mail</button>
  </form>


  <%- include("footer.ejs")%>
